{% extends 'index.html' %}{% load static %} {% block body %}

<div class="landing_page container" data-aos="zoom-in" data-aos-duration="1000">
  <div>
    <div>
      <h1 style="font-size: 55px; margin-top: 150px">
        BANQUE MIM TRADING
      </h1>
    </div>
    <div>
      <p>Ouverture compte, visualiser, opérations, ...<br />et plus.</p>
    </div>
    <button type="button" class="btn btn-dark get-started">Commencons !!!</button>
  </div>
  <!-- <div class="m-auto text-center">
    <img src="{% static 'img/credit.svg' %}" class="img-fluid card-img" />
  </div> -->
</div>

<div class="pancake" style="overflow-x: hidden;">
  <div class="box shadow-lg" data-aos="slide-right" data-aos-duration="1000">
    <div class="m-auto text-center">
      <!-- <img src="{% static 'img/user1.svg' %}" class="img-fluid img-wrapper" /> -->
    </div>
  <p class="text-center mt-5">Description 1</p>
  </div>
  <div class="box" data-aos="slide-up" data-aos-duration="1000">
    <div class="m-auto text-center">
      <!-- <img src="{% static 'img/transaction.svg' %}" class="img-fluid img-wrapper" /> -->
    </div>
    <p class="text-center mt-5">Description 2</p>
  </div>
  <div class="box" data-aos="slide-left" data-aos-duration="1000">
    <div class="m-auto text-center">
      <!-- <img src="{% static 'img/pay.svg' %}" class="img-fluid img-wrapper" /> -->
    </div>
    <p class="text-center mt-5">Description 3</p>
  </div>
  </div>
</div>
{% endblock %}
